<app-header />

<main>
  <div id="dashboard">
    <app-dashboard-iteam
      [imag]="{ src: 'status.png', alt: 'imag.alt' }"
      title="Server Status"
    >
      <app-server-status />
    </app-dashboard-iteam>

    <app-dashboard-iteam
      [imag]="{ src: 'globe.png', alt: 'A globe' }"
      title="Traffic"
    >
      <app-traffic />
    </app-dashboard-iteam>

    <app-dashboard-iteam
      [imag]="{ src: 'list.png', alt: 'A list of items' }"
      title="Support Tickets"
    >
      <app-tickets />
    </app-dashboard-iteam>
  </div>
</main>
